:root {
    --theme-colors-blue: #2B4B82;
    --theme-colors-light-blue: #94DDDE;
    --theme-colors-melon: #F7B4A7;
    --theme-colors-pink: #F0ABC1
}

/* app-styles */

.app-bg-blue {
    background-color: var(--theme-colors-blue) !important;
}

.app-color-melon {
    color: var(--theme-colors-melon);
}

.app-color-light-blue {
    color: var(--theme-colors-light-blue);
}

/* app-navbar */

.app-navbar .navbar-brand {
    color: #fff !important;
    opacity: 1;
}

.app-navbar .navbar-brand:hover, .app-navbar .navbar-brand:focus {
    color: #fff;
}

.app-navbar .navbar-nav .nav-link {
    color: #fff;
}

.app-navbar .navbar-nav .nav-link:hover, .app-navbar .navbar-nav .nav-link:focus {
    color: var(--theme-colors-pink);
}

.app-navbar .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
}

.app-navbar .navbar-nav .show > .nav-link,
.app-navbar .navbar-nav .active > .nav-link,
.app-navbar .navbar-nav .nav-link.show,
.app-navbar .navbar-nav .nav-link.active {
    color: #fff;
}

.app-navbar .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
}

.app-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.app-navbar .navbar-text {
    color: rgba(255, 255, 255, 0.5);
}

.app-navbar .navbar-text a {
    color: #fff;
}

.app-navbar .navbar-text a:hover, .app-navbar .navbar-text a:focus {
    color: #fff;
}

header {
    border-width: 0;
    padding: 0;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #fff;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
