@model UserViewModel
@{
    ViewData["Title"] = "Atualizar Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    main {
        background-image: linear-gradient(to right, #2B4B82, #F7B4A7);
    }
</style>

<section class="h-100 h-custom gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <form asp-route-returnUrl="ProfileUpdate" method="post">
                <div class="col-12">
                    <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                        <div class="card-body p-0">
                            <div class="row g-0">
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <h3 class="fw-normal mb-5" style="color: #2B4B82">Dados Pessoais</h3>
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="row">
                                            <div class="col-md-6 mb-4 pb-2">
                                                <div class="form-outline">
                                                    <input asp-for="FirstName" type="text" id="form3Examplev3" class="form-control form-control-lg" />
                                                    <label asp-for="FirstName" class="form-label" for="form3Examplev3">Nome</label>
                                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4 pb-2">
                                                <div class="form-outline">
                                                    <input asp-for="LastName" type="text" id="form3Examplev3" class="form-control form-control-lg" />
                                                    <label asp-for="LastName" class="form-label" for="form3Examplev3">Sobrenome</label>
                                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4 pb-2">
                                                <div class="form-check form-check-inline mb-0 me-4">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                                                           value="option1" />
                                                    <label class="form-check-label" for="maleGender">Masculino</label>
                                                </div>

                                                <div class="form-check form-check-inline mb-0 me-4">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                                                           value="option2" />
                                                    <label class="form-check-label" for="femaleGender">Feminino</label>
                                                </div>

                                                <div class="form-check form-check-inline mb-0 me-4">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                                                           value="option3" />
                                                    <label class="form-check-label" for="otherGender">Outro</label>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="mb-4 pb-2">
                                            <div class="form-outline">
                                                <textarea asp-for="UserBio" class="form-control form-control-lg" rows="3" placeholder="Conte-nos um pouco sobre você"></textarea>
                                                <label asp-for="UserBio" class="col-form-label" for="form3Examplev3">Biografia</label>
                                                <span asp-validation-for="UserBio" class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="mb-4 pb-2">
                                            <div class="form-outline">
                                                <input asp-for="Email" type="text" id="form3Examplev4" class="form-control form-control-lg" />
                                                <label asp-for="Email" class="form-label" for="form3Examplev4">Email</label>
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 bg-indigo text-black">
                                    <div class="p-5">
                                        <h3 class="fw-normal mb-5" style="color: #2B4B82">Localização</h3>

                                        <div class="mb-4 pb-2">
                                            <div class="form-outline form-white">
                                                <input asp-for="AddressLine" type="text" id="form3Examplea2" class="form-control form-control-lg" />
                                                <label asp-for="AddressLine" class="form-label" for="form3Examplea2">Endereço (Nome da Rua, Número)</label>
                                                <span asp-validation-for="AddressLine" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="mb-4 pb-2">
                                            <div class="form-outline form-white">
                                                <input asp-for="AdditionalAddress" type="text" id="form3Examplea3" class="form-control form-control-lg" />
                                                <label asp-for="AdditionalAddress" class="form-label" for="form3Examplea3">Complemento</label>
                                                <span asp-validation-for="AdditionalAddress" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-5 mb-4 pb-2">

                                                <div class="form-outline form-white">
                                                    <input asp-for="ZipCode" type="text" id="form3Examplea4" class="form-control form-control-lg" />
                                                    <label asp-for="ZipCode" class="form-label" for="form3Examplea4">CEP</label>
                                                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                                                </div>

                                            </div>
                                            <div class="col-md-7 mb-4 pb-2">

                                                <div class="form-outline form-white">
                                                    <input asp-for="City" type="text" id="form3Examplea5" class="form-control form-control-lg" />
                                                    <label asp-for="City" class="form-label" for="form3Examplea5">Cidade</label>
                                                    <span asp-validation-for="City" class="text-danger"></span>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="mb-4 pb-2">
                                            <div class="form-outline form-white">
                                                <input asp-for="Estate" type="text" id="form3Examplea6" class="form-control form-control-lg" />
                                                <label asp-for="Estate" class="form-label" for="form3Examplea6">Estado</label>
                                                <span asp-validation-for="Estate" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3 mb-4 pb-2">

                                                <div class="form-outline form-white">
                                                    <input asp-for="AreaCode" type="text" id="form3Examplea7" class="form-control form-control-lg" />
                                                    <label asp-for="AreaCode" class="form-label" for="form3Examplea7">DDD</label>
                                                    <span asp-validation-for="AreaCode" class="text-danger"></span>
                                                </div>

                                            </div>
                                            <div class="col-md-9 mb-4 pb-2">

                                                <div class="form-outline form-white">
                                                    <input asp-for="Phone" type="text" id="form3Examplea8" class="form-control form-control-lg" />
                                                    <label asp-for="Phone" class="form-label" for="form3Examplea8">Telefone Celular</label>
                                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-lg mb-2">
                                            Salvar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
