@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


<style>
    main {
        background-image: linear-gradient(to right, #2B4B82, #F7B4A7);
        height: 100vh;
    }
</style>

<section class="h-100 h-custom gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <div class="text-center">
                            <img src="/assets/jobs.gif"
                                 style="width: 250px; border-radius: 15px; margin-top: 25px; margin-bottom: 25px;" alt="logo">
                            <h4 style="color:lightcoral" class="mt-1 mb-5 pb-1">Olá, entre com sua conta Jobs!</h4>
                        </div>

                        <form id="account" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-outline mb-3">
                                <input asp-for="Input.Email" type="email" id="form3Example3" class="form-control form-control-lg"
                                       placeholder="Insira seu endereço de Email" />
                                <label asp-for="Input.Email" class="form-label" for="form3Example3">Email</label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="form-outline mb-3">
                                <input asp-for="Input.Password" type="password" id="form3Example4" class="form-control form-control-lg"
                                       placeholder="Insira sua senha" />
                                <label asp-for="Input.Password" class="form-label" for="form3Example4">Senha</label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="d-flex justify-content-between align-items-center">

                                <div class="form-check mb-0">
                                    <input asp-for="Input.RememberMe" class="form-check-input me-2" type="checkbox" value="true" id="form2Example3" />
                                    <label asp-for="Input.RememberMe" class="form-check-label" for="form2Example3">
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>

                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button type="submit" class="btn btn-primary btn-lg mb-2"
                                        style="padding-left: 2rem; padding-right: 2rem;">
                                    Fazer login
                                </button>

                                <a asp-page="./Register" type="button" class="btn btn-danger btn-lg mb-2"
                                   style="padding-left: 2rem; padding-right: 2rem;">
                                    Criar conta
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>