@page
@model RegisterModel
@{
    ViewData["Title"] = "Criar Conta";
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    main {
        background-image: linear-gradient(to left,#722f37, #F7B4A7);
    }
</style>

<section class="h-100 h-custom gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <div class="text-center">
                            <img src="/assets/jobs.gif"
                                 style="width: 250px; border-radius: 15px; margin-top: 25px; margin-bottom: 25px;" alt="logo">
                            <h4 style="color: lightcoral" class="mt-1 mb-5 pb-1">Registre-se e conheça nossos serviços</h4>
                        </div>

                        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input asp-for="Input.FirstName" type="text" id="form3Example1n" class="form-control form-control-lg" />
                                        <label asp-for="Input.FirstName" class="form-label" for="form3Example1n">Nome</label>
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input asp-for="Input.LastName" type="text" id="form3Example1n" class="form-control form-control-lg" />
                                        <label asp-for="Input.LastName" class="form-label" for="form3Example1n">Sobrenome</label>
                                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-outline mb-3">
                                <input asp-for="Input.Email" type="email" id="form3Example3" class="form-control form-control-lg"
                                       placeholder="Insira um email válido" />
                                <label asp-for="Input.Email" class="form-label" for="form3Example3">Email</label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="form-outline mb-3">
                                <input asp-for="Input.Password" type="password" id="form3Example4" class="form-control form-control-lg"
                                       placeholder="Insira uma senha" />
                                <label asp-for="Input.Password" class="form-label" for="form3Example4">Senha</label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-outline mb-3">
                                <input asp-for="Input.ConfirmPassword" type="password" id="form3Example4" class="form-control form-control-lg"
                                       placeholder="Repita a senha" />
                                <label asp-for="Input.ConfirmPassword" class="form-label" for="form3Example4">Confirme a Senha</label>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>

                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button type="submit" class="btn btn-primary btn-lg mb-2"
                                        style="padding-left: 2rem; padding-right: 2rem;">
                                    Criar conta
                                </button>

                                <a asp-page="./Login" type="button" class="btn btn-danger btn-lg mb-2"
                                   style="padding-left: 2rem; padding-right: 2rem;">
                                    Fazer login
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>